.architecture{
	margin-top: 0;
	margin: auto;
	height: 20.046rem;
	width: 30rem;
	border: 5px solid #555;
}

.paragraph{
	font-family: Georgia;
	font-size: 200%;
	line-height: 1.33;
}


.robot-architecture{
	margin-top: 0;
  	margin-left: auto;
  	margin-right: auto;
	height: 30rem;
	width: 22.38rem;
	display: block;
	border: 5px solid #555;
}

.rpc-api{
	margin-top: 0;
  	margin-left: auto;
  	margin-right: auto;
	height: 12rem;
	width: 29.656rem;
	display: block;
	border: 5px solid #555;
}